@import "./styles/variables";
@import "./breakpoints/breakpoints.scss";
.img-cocktail {
  width: 60vh;
  height: 40vh;
}

.layout {
  padding: 80px 0;
  @include flexColumn();
  li {
    padding: 15px 0;
    font-size: 20px;
    // @include flexColumn();
  }
  img {
    width: 15vh;
    height: 15vh;
    // padding: 20px;
  }
}
.list-border {
  font-size: 17px;
  //   border: solid 1px black;
}
