@import './styles/variables';
@import './styles/styles';
@import './styles/home';

footer {
    height: 250px;
    @include flexColumn();
    background-color: rgb(20, 66, 20);
    color: white;
}

.aboutus {

    margin-top: 10%;

    .aboutTitle {
        @include flexColumn();
    }

    .usinfo {
        @include flexRow();
    }
}