@import "./styles/variables";
@import "./breakpoints/breakpoints.scss";

.heading {
    background-color: $fourthColor;
    width: 40%;
    margin-top: 13vh;
    margin-bottom: 13vh;
    padding: 5vh 7vh;
    position: relative;
    left: 26%;
    // border-radius: 50%;
    box-shadow: 10px 10px 20px 5px black;
    border: double;


    .row {
        @include flexRow();
        padding-right: 7vh;
        padding-left: 7vh;
    }

    .column {
        @include flexColumn();
        text-align: center;
        color: rgb(20, 66, 20);
    }

    img {
        width: 15vh;
        height: 15vh;

    }
}

.plus {
    font-size: xx-large;
    font-weight: 900;
}