@import "./styles/variables";
@import "./styles/styles";

.hometitle {
    background-image: url(../images/munchiestitle.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    color: white;
    font-size: 20px;
    font-family: "Noto Sans JP";
    height: 600px;
    margin-bottom: 100px;
    @include flexColumn();

    h2 {
        font-size: 50px;
        font-family: "Noto Sans JP";
    }
}

.ethnicHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.ethnicHomeImg {
    z-index: 0;
    outline: 1px solid white;
    outline-offset: -20px;
    height: 700px;
    margin: 50px;
}

.travelWords {
    background-color: white;
    font-size: 20px;
    font-family: "Noto Sans JP";
    display: inline-block;
    z-index: 2;
    height: 200px;
    text-align: center;
    padding: 50px 75px 0px;
    position: relative;
    margin-top: -120px;
    margin-right: -250px;
}

.healthDietHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    width: 100%;
}

.healthImg {
    z-index: 0;
    margin: 50px;
    width: 100%;
}

.healthWords {
    background-color: white;
    font-size: 20px;
    font-family: "Noto Sans JP";
    display: inline-block;
    z-index: 2;
    height: 150px;
    text-align: fixed;
    padding: 0px 90px 50px;
    position: relative;
    margin: 200px 200px auto -100px;
    width: 200px;
}

.bldHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 50px;
    width: 90%;
}

.bldImg {
    z-index: 0;
    width: 50%;
}

.bldImg2 {
    z-index: 1;
    margin: auto 50px auto 200px;
}

.bldWords {
    background-color: white;
    font-size: 20px;
    font-family: "Noto Sans JP";
    display: inline-block;
    z-index: 2;
    height: 150px;
    width: 150px;
    text-align: fixed;
    padding: 0px 100px 20px;
    position: absolute;
    margin-left: 650px;
}