@import "./styles/variables";
@import "./breakpoints/breakpoints.scss";
.row-search {
  @include flexRow();
  flex-wrap: wrap;
  padding: 5px;
}
.name-column {
  @include flexColumn();
  width: 300px;
  margin: 10px;
}
.slide-center {
  @include flexColumn();
  justify-content: space-evenly;
  padding: 35px;
}
.search-bar {
  padding: 5px;
}
.search-btn {
  padding: 5px;
  background: transparent;
  color: white;
}
