@import './styles/variables';

body{
    background-color: $thirdColor;

    @include flexColumn();
    list-style: none;

    h1{
        color: $primaryColor;
    }
    a{
        text-decoration: none;
        color: $primaryColor;
    }
}

.navbar{
    @include flexRow();
}

.randomFood{
    background-color: $fourthColor;
    .row{
        @include flexRow();
    }
    .column{
        @include flexColumn();
}

}

.slides{
    width: 100vh;
    .child{
        @include flexColumn();
        text-align: center;
    }
    img{
        width: 100px;
        height: 100px;
    }
    
}

.categories{
    @include flexRow();
}

.circleimages{
    padding: 10px;
    border-radius:50%;
    align-content: center;
}
 
  
  
