@import "./styles/variables";
@import "./breakpoints/breakpoints.scss";

body {
  background-color: $thirdColor;
  font-family: $primary_font_family;
  @include media("<=phone") {
    width: 100%;
  }

  // @include flexColumn();
  list-style: none;

  h1 {
    color: $primaryColor;
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }
}

.slides {
  width: 100vh;

  .child {
    @include flexColumn();
    text-align: center;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.slides {
  width: 100vh;

  .child {
    @include flexColumn();
    text-align: center;
  }

  h1 {
    color: $primaryColor;
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }
}

// landing page

.landing {
  background-color: $fourthColor;

  .row {
    @include flexRow();
  }

  .column {
    @include flexColumn();
  }

  img {
    width: 20vh;
    height: 20vh;
  }
}

.circleimages {
  padding: 10px;
  border-radius: 50%;
  align-content: center;
}

// Slider CSS
