@import './styles/variables';

body {
    background-color: $thirdColor;

    // @include flexColumn();
    // list-style: none;

    h1 {
        color: $primaryColor;
    }

    a {
        text-decoration: none;
        color: $primaryColor;
    }
}

.navbar {
    @include flexRow();
}

.randomFood {

    // background: -webkit-linear-gradient(to bottom, #DBD5A4, #649173);  
    background: linear-gradient(to bottom, #649173, #DBD5A4);


    .row {
        @include flexRow();
    }

    .column {
        @include flexColumn();
    }

}

.slides {
    width: 100vh;

    .child {
        @include flexColumn();
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
    }

}

.categories {
    @include flexRow();
}

.circleimages {
    padding: 10px;
    border-radius: 50%;
    align-content: center;
}

.hometitle {
    background-image: url(../images/munchiestitle.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans JP';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

    h2 {
        font-size: 50px;
        font-family: 'Noto Sans JP';
    }
}

.homeEthnic {
    background-image: url(../images/ethnichome.jpg);
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    z-index: 0;
    color: black;
    font-size: 20px;
    font-family: 'Noto Sans JP';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}