$primaryColor: #71c9ce ;
$secondaryColor: #cbf1f5;
$thirdColor: #a6e3e9;
$fourthColor: #e3fdfd;

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$fourthColor;
    padding: 20px;
}

