$primaryColor: #0a0a0a;
$secondaryColor: #889baa;
$thirdColor: #fafafa;
$fourthColor: #ffffff;
$primary_font_family: muli;

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $fourthColor;
    padding: 20px;
}