@import "./styles/variables";
@import "./breakpoints/breakpoints.scss";
// .slide-center {
//   @include flexColumn();
//   justify-content: space-evenly;
//   // padding: 35px;
//   width: 100vmin;
// }
// // .child {
// //   width: 1px;
// // }
// // .slick-track {
// //   right: 20vh;
// // }

// .row-search {
//   @include flexRow();
//   flex-wrap: wrap;
//   padding: 5px;
// }
// .name-column {
//   @include flexColumn();
//   width: 300px;
//   margin: 10px;
// }
// .randomFood {
//   padding: 70px 0;
// }
// .child {
//   width: 100vmin;
// }
@import "./styles/variables";
@import "./breakpoints/breakpoints.scss";
.single-layout {
  padding-top: 125px;
  // @include flexColumn();
  overflow-x: hidden;
}
.detail-img {
  @include flexColumn();
  max-width: fit-content;
  img {
    width: 60vw;
  }
  h1 {
    @include flexRow();
    background-color: $thirdColor;
    padding-left: 60px;
    // margin: 40px 80px 10px 90px;
    // background-color: $secondaryColor;
  }
}
.calories {
  padding: 30px 0;
  font-size: 20px;
  @include flexColumn();
}
.ingredients {
  font-size: 17px;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 200px;
  @include flexColumn();
  // width: 40vh; //   background-color: $secondaryColor;
  .ingredient-title {
    font-size: 25px;
    padding: 10px;
  }
  li {
    padding-bottom: 15px;
    font-size: 20px;
    @include flexColumn();
  }
}
.calories-separation {
  padding: 10px;
}
.line {
  display: none;
}

.bldHeader{
  width: 100vw;
  padding-top: 8vh;
  text-align: center;
}

.bldHeading{
  text-align: center;

}

.slide-center {
  @include flexColumn();
  justify-content: space-evenly;
  padding: 35px;
}
// .child {
//   width: 1px;
// }
.slide-center {
  width: 1vmin;
}

.child {
  width: 1vh;
}

.slides {
  // width: 75vmax;
  max-width: 320px;
  left: 41vw;
}
.bldSlides{
  left: 7vw;
}

.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}
