@import "./styles/variables";
@import "./styles/styles";
@import "./breakpoints/breakpoints.scss";

body{
  margin: 0px;
  padding: 0px;
  // overflow-x: hidden;
}
.hometitle {

  background-image: url(../images/munchiestitle.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-size: 20px;
  font-family: $primary_font_family;
  width: 100vmin;
  height: 100vmin;
  
  @include flexColumn();

  h3 {
    text-align: center;
    font-size: 100%;
    font-family: $primary_font_family;
  }

}

.ethnicHome {
  @include flexColumn();
  
}

.ethnicHomeImg {
  padding-top: 5vh;
  width: 100vmin;
  height: 50vmin
}

.travelWords {
  background-color: white;
  font-size: 100%;
  font-family: $primary_font_family;
  text-align: center;
  position: relative;
  bottom: 5vh;
  left: 7vh;
  height: 23vh;
  width: 50%;
  
}


.healthDietHome {
  @include flexColumn();

}

.healthImg {
  width: 100vmin;
  height: 50vmin
  
}

.healthWords {
  background-color: white;
  font-size: 100%;
  font-family: $primary_font_family;
  text-align: center;
  position: relative;
  bottom: 5vh;
  left: -20vw;
  height: 13vh;
  width: 50%;
}

.bldHome {  
  padding-bottom: 30px;
  
    .bldImg2{
      padding-left: 15px;
      width: 20vh;
      height: 20vh;
    }

    .bldImg{
      padding-left: 20px;
      width: 20vh;
      height: 20vh;
    }
    
}

.bldWords {
  background-color: white;
  font-size: 100%;
  font-family: $primary_font_family;
  text-align: center;
  position: relative;
  bottom: 5vh;
  left: 45vmin;
  height: 14vh;
  width: 50%;
}

.heading {
  background-color: $fourthColor;
  width: 100vw;
  text-align: center;
  
  .row {
      @include flexRow();
      align-items: flex-start;
     
  }

  .column {
      @include flexColumn();
  }

  img {
      width: 20vh;
      height: 20vh;
      padding: 3px;
  }
}

footer {
  i{
    color: white;
  }
  @include flexColumn();
  background-color:black;
  color: white;
}


